/* ---- Base Stylesheet
   Contains CSS reset, basic text mark-up ---- */


/* ---- CSS reset ---- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, ul.menu, li.leaf,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-family: 'Lato', sans-serif;
	font-size: 100%;

	vertical-align: baseline;
  background: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
ul.menu, ul.menu *, ul li.leaf, ul li.collapsed, .item-list ul, .item-list ul li {
  list-style-image: none;
  list-style-type: none;
  margin: 20px;
  padding: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---- Main text styles ---- */

body {
  font-family: Helvetica, Arial, "Liberation Sans", sans-serif;
  font-size: 87.5%;
  line-height: 1.4;
  background-color: #363636;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  padding-bottom: 1em;
}

p {
  padding-bottom: 1em;
}

a{
  color:#ff675d;
}

a:visited{
  color:#ff675d;
}

a:hover {
  color: #ff675d;
}

/* ---- Page layout ---- */

#wrapper, #header, #footer {
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
}

#wrapper {
  overflow: auto;
}

#header {
  background: url("../images/header1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height:325px;


}

.header-logo h1{
  margin:0;
  padding:0;
  text-align: center;
}
.header-logo h1 a{
  color:rgba(255,255,255,1);
  text-decoration: none;
  color:#FAFAFA;
}
.header-logo h1 a:hover,
.header-logo h1 a:focus{
  color:white;
}

#templogo{
  width:auto;
  height:160px;
  margin-top:85px;
}




#navigation{
}

#navigation ul{

  list-style: none;
  margin:0;
  padding:0;
}
#navigation ul>li{
  background-color: #474747;
  float:left;
  width:33.3333%;

}
#navigation ul>li>a{
  display:block;
  padding:6px 12px;
  text-decoration: none;
  font-weight:500;
  font-size: 26px;
  text-align: center;
  color: #f0f0f0;

}
#navigation ul>li>a>i{
  display:block;
  font-size:32px;
}
#navigation ul>li>a:hover,
#navigation ul>li>a:focus{
  color:#ff675d;
  border-color: black;
  background: rgb(89, 89, 89);
}

#bigwrapper{
  background-color: #363636;
}

#wrapper{

  margin: auto;
  margin-top:40px;
  width: 80%;
  padding: 40px;
}

/*#content {
  width: 50%;
  float: left;

}*/

#sidebar {
  float: right;
  margin-top:20px;
  background-color: #5d5d5d;
}

#block-system-user-menu > h2{
  font-size: 23px;
}

#block-block-2 > h2{
  font-size:23px;
}

#content{
  float:left;

}

#content .region, #content h1, #sidebar .region {
  padding: 20px;
}


#footer {
  background-color: #343434;
  border-top: 1px solid #666;
  padding: 10px;
  text-align: center;
}

.kicker{
  text-align:center;
  color:red;
}

.label{
  color:white;
}

.form-item{
  color:white;
}

.node-article{
  padding:20px;
  margin:30px;
  border-left:solid 2px #ff675d;
}

#block-search-form{
  margin-bottom:20px;
}
/* LAYOUT AND SHIT */

p{
  color: #e1e1e1;
}

h2{
  color:#ff675d;
}

h1{
  color: #ff675d;
  font-size:40px;
}

span{
  color:#ff675d;

}

* {
  box-sizing: border-box;
}
.wrapper {
  width:100%;
  margin:0;
  padding:0;
}
.container {
  max-width:1140px;/* Mobile First, RWD */
  margin:0 auto;
  overflow: hidden;
  padding:0 1.075269%;
}
.container-fluid {
  margin:0 auto;
  overflow: hidden;
  padding:0 1.075269%;
}
.row {
  margin:0;
}
.row .row {
  margin:0 -1.075269%;
}
.row:before,
.row:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.row:after {
  clear: both;
}
.col {
  float:left;
  margin:0 1.075269% 2.150538%;
  overflow: hidden;
}
.col-xxs-12{width:97.84947%;}
.col-xxs-11{width:89.51613%;}
.col-xxs-10{width:81.1828%;}
.col-xxs-9{width:72.84947%;}
.col-xxs-8{width:64.51613%;}
.col-xxs-7{width:56.1828%;}
.col-xxs-6{width:47.84947%;}
.col-xxs-5{width:39.51613%;}
.col-xxs-4{width:31.1828%;}
.col-xxs-3{width:22.84947%;}
.col-xxs-2{width:14.51613%;}
.col-xxs-1{width:6.1828%;}

/*
Mobile First
Breakpoints: 1200px, 992px, 768px, 480px, 320px
*/

/*
Extra Extra Small devices: 480 and down
Default in Mobile First Approaches
*/

/*
Extra Small Devices (phones): 480 and up
*/
@media (min-width:480px){
  .col-xs-12{width:97.84947%;}
  .col-xs-11{width:89.51613%;}
  .col-xs-10{width:81.1828%;}
  .col-xs-9{width:72.84947%;}
  .col-xs-8{width:64.51613%;}
  .col-xs-7{width:56.1828%;}
  .col-xs-6{width:47.84947%;}
  .col-xs-5{width:39.51613%;}
  .col-xs-4{width:31.1828%;}
  .col-xs-3{width:22.84947%;}
  .col-xs-2{width:14.51613%;}
  .col-xs-1{width:6.1828%;}
}
/*
Small Devices (tablets): 768 and up
*/
@media (min-width:768px){
  .col-sm-12{width:97.84947%;}
  .col-sm-11{width:89.51613%;}
  .col-sm-10{width:81.1828%;}
  .col-sm-9{width:72.84947%;}
  .col-sm-8{width:64.51613%;}
  .col-sm-7{width:56.1828%;}
  .col-sm-6{width:47.84947%;}
  .col-sm-5{width:39.51613%;}
  .col-sm-4{width:31.1828%;}
  .col-sm-3{width:22.84947%;}
  .col-sm-2{width:14.51613%;}
  .col-sm-1{width:6.1828%;}
}
/*
Medium Devices (small desktops and tablets): 992 and up
*/
@media (min-width:992px){
  .col-md-12{width:97.84947%;}
  .col-md-11{width:89.51613%;}
  .col-md-10{width:81.1828%;}
  .col-md-9{width:72.84947%;}
  .col-md-8{width:64.51613%;}
  .col-md-7{width:56.1828%;}
  .col-md-6{width:47.84947%;}
  .col-md-5{width:39.51613%;}
  .col-md-4{width:31.1828%;}
  .col-md-3{width:22.84947%;}
  .col-md-2{width:14.51613%;}
  .col-md-1{width:6.1828%;}
}
/*
Large Devices (Large desktops): 1200px and up
*/
@media (min-width:1200px){
  .col-lg-12{width:97.84947%;}
  .col-lg-11{width:89.51613%;}
  .col-lg-10{width:81.1828%;}
  .col-lg-9{width:72.84947%;}
  .col-lg-8{width:64.51613%;}
  .col-lg-7{width:56.1828%;}
  .col-lg-6{width:47.84947%;}
  .col-lg-5{width:39.51613%;}
  .col-lg-4{width:31.1828%;}
  .col-lg-3{width:22.84947%;}
  .col-lg-2{width:14.51613%;}
  .col-lg-1{width:6.1828%;}
}



